.page-login_fieldset {
  border-style: hidden !important;
}

.page-login_field {
  width: 100%;
}

.page-login_error {
  height: 20px;
  margin-bottom: 20px;
}

.page-login_link {
  display: flex;
  justify-content: flex-begin;
  margin-left: 15px;
}
